# AI Project: Employee Attrition Prediction - **source code**

## Table of Contents
- [Framework](#framework)
- [Initial dataset](#initial-dataset)
- [Ethic](#ethic)
- [Data wrangling](#data-wrangling)
- [Model](#model)
  - [Implementation](#implementation)
  - [Quality indicators](#quality-indicators)
  - [Graph and observation](#graph-and-observation)

## Framework

In [130]:
import pandas as pd
import numpy as np
import os
# ...

## Initial dataset

little description of the data set

## Ethic

blabla ethic
What we delete

## Data wrangling

### Data importation

In [131]:
# Load data
general_df = pd.read_csv(os.path.join('data','general_data.csv'))
manager_survey_df = pd.read_csv(os.path.join('data', 'manager_survey_data.csv'))
employee_survey_df = pd.read_csv(os.path.join('data', 'employee_survey_data.csv'))
in_time = pd.read_csv(os.path.join('data', 'in_time.csv'))
out_time = pd.read_csv(os.path.join('data', 'out_time.csv'))

### Data observation

In [132]:
# Check initial data sizes
print(f"General Data: {general_df.shape} (rows, columns)")
print(f"Manager Survey: {manager_survey_df.shape}")
print(f"Employee Survey: {employee_survey_df.shape}")


print("\n===========================================================\n")


# Check if EmployeeID has duplicates
if general_df['EmployeeID'].duplicated().sum() == 0:
    print("EmployeeID is unique")
else:
    print("Warning")


print("\n===========================================================\n")


# Merge data
merge_df = pd.merge(general_df, manager_survey_df, on='EmployeeID', how='left')
final_df = pd.merge(merge_df, employee_survey_df, on='EmployeeID', how='left')

print(f"Size of Final Table: {final_df.shape}")


print("\n===========================================================\n")


print(f"First 5 rows:")
display(final_df.head())

In [133]:
# Check initial data sizes
print(f"In time: {in_time.shape} (rows, columns)")
print(f"Out time: {out_time.shape}")

# Rename first column to 'EmployeeID' for consistency
in_time.rename(columns={in_time.columns[0]: 'EmployeeID'}, inplace=True)
out_time.rename(columns={out_time.columns[0]: 'EmployeeID'}, inplace=True)

# Set 'EmployeeID' as index
in_time.set_index('EmployeeID', inplace=True)
out_time.set_index('EmployeeID', inplace=True)

# Change data into datetime. errors='coerce' if (NaT)
in_time_df = in_time.apply(pd.to_datetime, errors='coerce')
out_time_df = out_time.apply(pd.to_datetime, errors='coerce')

# Calculate working time
working_time = out_time_df - in_time_df
display(working_time.head())


print("\n===========================================================\n")


# Check average working time
average_working_time = working_time.mean(axis=1)
avg_working_hours_numeric = average_working_time.apply(lambda x: x.total_seconds() / 3600)
display(avg_working_hours_numeric.head())


print("\n===========================================================\n")


# Reset index to turn Series into DataFrame
time_features_df = avg_working_hours_numeric.reset_index()
# Rename columns
time_features_df.columns = ['EmployeeID', 'AvgWorkingHours']
# Display final time features DataFrame
display(time_features_df.head())


print("\n===========================================================\n")


# Merge time features back to final_df
final_df = pd.merge(final_df, time_features_df, on='EmployeeID', how='left')
# Check final data sizes
print(f"Final DataFrame: {final_df.shape} (rows, columns)")


print("\n===========================================================\n")


print("First 5 rows of final DataFrame:")
display(final_df.head())

### Data cleaning

In [134]:
# Delete unneeded columns
columns_to_drop = ['EmployeeCount', 'Over18', 'StandardHours']
final_df.drop(columns=columns_to_drop, inplace=True)

# Handle missing values
numeric_columns = final_df.select_dtypes(include=[np.number]).columns
final_df[numeric_columns] = final_df[numeric_columns].fillna(final_df[numeric_columns].mean()) 
missing_values = final_df.isnull().sum()
print(missing_values)


print("\n===========================================================\n")


# Label encoding 
attrition_map = {'Yes': 1, 'No': 0}
final_df['Attrition'] = final_df['Attrition'].map(attrition_map)
gender_map = {'Male': 1, 'Female': 0}
final_df['Gender'] = final_df['Gender'].map(gender_map)
travel_map = {
    'Non-Travel': 0,
    'Travel_Rarely': 1,
    'Travel_Frequently': 2
}
final_df['BusinessTravel'] = final_df['BusinessTravel'].map(travel_map)

# One-hot encoding
categorical_columns = final_df.select_dtypes(include=['object']).columns
final_df = pd.get_dummies(final_df, columns=categorical_columns, drop_first=True)
final_df = final_df.replace({True: 1, False: 0})
print(final_df.info())
print("\n===========================================================\n")
print("First 5 rows after encoding:")
print("\n")
display(final_df.head())

print("\n===========================================================\n")

print(final_df.info())

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
JobInvolvement             0
PerformanceRating          0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
AvgWorkingHours            0
dtype: int64

===========================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   int64
 1   Attrition                          4410 non-null   int64
 2   BusinessTravel                     4410 non-null   int64
 3   DistanceFromHome                   4410 non-null   int64
 4   Education                          4410 non-null   int64
 5   EmployeeID                         4410 non-null   int64
 6   Gender                             4410 non-null   int64
 7   JobLevel                           4410 non-null   int64
 8   MonthlyIncome                      4410 non-null   int64
 9   NumCompaniesWorked                 4410 non-null   float64
 10  PercentSalaryHike                  4410 non-null   int64
 11  StockOptionLevel                   4410 non-null   int64
 12  TotalWorkingYears                  4410 non-null   float64
 13  TrainingTimesLastYear              4410 non-null   int64
 14  YearsAtCompany                     4410 non-null   int64
 15  YearsSinceLastPromotion            4410 non-null   int64
 16  YearsWithCurrManager               4410 non-null   int64
 17  JobInvolvement                     4410 non-null   int64
 18  PerformanceRating                  4410 non-null   int64
 19  EnvironmentSatisfaction            4410 non-null   float64
 20  JobSatisfaction                    4410 non-null   float64
 21  WorkLifeBalance                    4410 non-null   float64
 22  AvgWorkingHours                    4410 non-null   float64
 23  Department_Research & Development  4410 non-null   int64
 24  Department_Sales                   4410 non-null   int64
 25  EducationField_Life Sciences       4410 non-null   int64
 26  EducationField_Marketing           4410 non-null   int64
 27  EducationField_Medical             4410 non-null   int64
 28  EducationField_Other               4410 non-null   int64
 29  EducationField_Technical Degree    4410 non-null   int64
 30  JobRole_Human Resources            4410 non-null   int64
 31  JobRole_Laboratory Technician      4410 non-null   int64
 32  JobRole_Manager                    4410 non-null   int64
 33  JobRole_Manufacturing Director     4410 non-null   int64
 34  JobRole_Research Director          4410 non-null   int64
 35  JobRole_Research Scientist         4410 non-null   int64
 36  JobRole_Sales Executive            4410 non-null   int64
 37  JobRole_Sales Representative       4410 non-null   int64
 38  MaritalStatus_Married              4410 non-null   int64
 39  MaritalStatus_Single               4410 non-null   int64
dtypes: float64(6), int64(34)
memory usage: 1.3 MB
None

===========================================================

First 5 rows after encoding:

C:\Users\Louis\AppData\Local\Temp\ipykernel_35824\3145521637.py:30: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  final_df = final_df.replace({True: 1, False: 0})

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,...,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single
0,51,0,1,6,2,1,0,1,131160,1.0,...,0,0,0,0,0,0,0,0,1,0
1,31,1,2,10,1,2,0,1,41890,0.0,...,0,0,0,0,0,1,0,0,0,1
2,32,0,2,17,4,3,1,4,193280,1.0,...,0,0,0,0,0,0,1,0,1,0
3,38,0,0,2,5,4,1,3,83210,3.0,...,1,0,0,0,0,0,0,0,1,0
4,32,0,1,10,1,5,1,1,23420,4.0,...,0,0,0,0,0,0,1,0,0,1

===========================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   int64
 1   Attrition                          4410 non-null   int64
 2   BusinessTravel                     4410 non-null   int64
 3   DistanceFromHome                   4410 non-null   int64
 4   Education                          4410 non-null   int64
 5   EmployeeID                         4410 non-null   int64
 6   Gender                             4410 non-null   int64
 7   JobLevel                           4410 non-null   int64
 8   MonthlyIncome                      4410 non-null   int64
 9   NumCompaniesWorked                 4410 non-null   float64
 10  PercentSalaryHike                  4410 non-null   int64
 11  StockOptionLevel                   4410 non-null   int64
 12  TotalWorkingYears                  4410 non-null   float64
 13  TrainingTimesLastYear              4410 non-null   int64
 14  YearsAtCompany                     4410 non-null   int64
 15  YearsSinceLastPromotion            4410 non-null   int64
 16  YearsWithCurrManager               4410 non-null   int64
 17  JobInvolvement                     4410 non-null   int64
 18  PerformanceRating                  4410 non-null   int64
 19  EnvironmentSatisfaction            4410 non-null   float64
 20  JobSatisfaction                    4410 non-null   float64
 21  WorkLifeBalance                    4410 non-null   float64
 22  AvgWorkingHours                    4410 non-null   float64
 23  Department_Research & Development  4410 non-null   int64
 24  Department_Sales                   4410 non-null   int64
 25  EducationField_Life Sciences       4410 non-null   int64
 26  EducationField_Marketing           4410 non-null   int64
 27  EducationField_Medical             4410 non-null   int64
 28  EducationField_Other               4410 non-null   int64
 29  EducationField_Technical Degree    4410 non-null   int64
 30  JobRole_Human Resources            4410 non-null   int64
 31  JobRole_Laboratory Technician      4410 non-null   int64
 32  JobRole_Manager                    4410 non-null   int64
 33  JobRole_Manufacturing Director     4410 non-null   int64
 34  JobRole_Research Director          4410 non-null   int64
 35  JobRole_Research Scientist         4410 non-null   int64
 36  JobRole_Sales Executive            4410 non-null   int64
 37  JobRole_Sales Representative       4410 non-null   int64
 38  MaritalStatus_Married              4410 non-null   int64
 39  MaritalStatus_Single               4410 non-null   int64
dtypes: float64(6), int64(34)
memory usage: 1.3 MB
None

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Calculate correlation matrix
corr_matrix = final_df.corr()

# Plot heatmap
plt.figure(figsize=(24, 18)) 
sns.heatmap(corr_matrix, 
            annot=True,       
            fmt=".2f",        
            cmap="coolwarm",  
            linewidths=0.5,   
            vmin=-1, vmax=1)  

plt.title("Correlation Matrix", fontsize=20)
plt.show()

In [125]:
final_df.to_csv(os.path.join('data', 'final_data_processed.csv'), index=False)

## model

### Implementation

In [136]:
# implemente the model
# with  pipeline

### Quality indicators

In [137]:
# MSE, MAE RMSE, R²
# Cross validation

### Graph and observation

In [138]:
# plt if we have